<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>

    <form action="/words" method="POST">
      <label for="word"> Please type a word: </label> 
      <input type="text" name="word" placeholder="Some word...">
      <br> 
      <br> 
      <input type="submit" value="Submit">
    </form>


  </body>
</html>